html {
    -webkit-text-size-adjust: 100%;
}

.sqs-block-content {
    outline: none;
      outline-color: initial;
      outline-style: none;
      outline-width: initial;
}

body {
    color: #363636;
    font-family: circe-rounded;
    font-size: 15px;
}